@model aakashPawar.Controllers.Demo
@{
    ViewBag.Title = "GoogleResultCallBack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Email_address</h2>

<h2>@Model.Google_ID</h2>
<h2>@Model.LastName</h2>
<h2>@Model.firstName</h2>

<h2>@Model.Token</h2>